@model IEnumerable<CloudDocuments>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<div class="col-md-12 breadcrumb-txt" style="background:#F9F9F9;padding: 10px;border-bottom: 1px solid #EEEEEE;	"><a href="../Home/Index">Home</a> / <span class="active">Migration and Multicloud</span></div>

<section id="main">
    <div class="container">
        <div class="row accordion-box justify-content-center">

            <div class="col-lg-4 col-sm-8" id="first"><img src="~/images/offering-img.png" class="img-fluid" alt=""> </div>

            <div class="col-lg-8" id="second">
                <h2 class="welcome-txt">Migration & Multicloud</h2>
                <p>With the changing digital landscapes, it could be laborious for an organization to have a dependency on hardware and IT infrastructure. On the other hand, moving the business systems to the cloud can benefit them with significant improvements in the storage efficiency, scalability, and cost optimization. However, adopting the cloud approach can also incur the fear of huge costs, application re-platforming, process disruption, and complexities around selecting the right cloud architecture. </p>
                <p>At Pactera-EDGE, we adopt a design-centric and adaptable approach for Migration Services to expedite your organizations’ cloud journey. Our methodology facilitates the enterprises to engage with their customers, integrate multi-location units, explore products/service innovation, and boost system agility with a cloud-based IT ecosystem.</p>
                <p>As a trusted partner, we have helped many organizations to migrate to the cloud to optimize their cloud infrastructure, streamline their processes, maximize their efficiencies as well as to evaluate new services and to get them ready for new design paradigms. </p>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" disabled>
                    <section style="padding: 0px;">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="aHandler">
                                        <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                        On-Premise data assets to cloud migration
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-lg-12">

                                            <ul class=" accordian-text">
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Modernize current IT asset base</a></li>
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Prepare for future needs</a></li>
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Assessment plan</a></li>
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Migration & Modernization</a></li>
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Migration strategy and Methodology</a></li>
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Architecture & Design plan</a></li>
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Hosting & Optimization</a></li>
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Disaster Recovery</a></li>
                                                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Security</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:20px;">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <object class="embed-responsive-item" data="~/PDF/Azure_Migration_capability_deck.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-20">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <object class="embed-responsive-item" data="~/PDF/Alibaba Cloud Migration deck.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                            </div>
                                        </div>





                                    </div>


                                </div>
                            </div>
                        </div>
                    </section>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Cloud to Cloud Migration
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class=" accordian-text">
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Assessment plan</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Migration & Modernization</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Migration strategy and Methodology</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Architecture & Design plan</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Hosting & Optimization     </a></li>

                                        </ul>
                                    </div>

                                    <div class="col-lg-12" style="margin-top:20px;">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>




                                </div>


                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Multicloud
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class=" accordian-text">
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Platfrom Agnostic</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Access to bouqet of services</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Meet Data Compliance for Different Geographies</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Optimize for Cost and Performance</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Centralize management </a></li>

                                        </ul>
                                    </div>

                                    <div class="col-lg-12" style="margin-top:20px;">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Container & Serverless computing Environment
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class=" accordian-text">
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Discover & Evaluate apps</a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rehost, Refactor, Rearchitect and rebuild </a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Moving applications from datacenter to the cloud quickly </a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Move application with no-code changes </a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Choose right tools to do migration     </a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Driving continuous innovation by taking advantage of DevOps and containers.   </a></li>

                                        </ul>

                                    </div>

                                    <div class="col-lg-12" style="margin-top:20px;">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/AWS-Serverless and Microservice.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Monolithic applications to microservices migration
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class=" accordian-text">
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Create Independent services environment </a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Reusable services </a></li>
                                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Scalability and Flexibility </a></li>
                                        </ul>

                                    </div>

                                    <div class="col-lg-12" style="margin-top:20px;">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/AWS-Serverless and Microservice.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>






                </div>

                <!-- panel-group -->
                <div class="col-lg-12 no-padding"><a href="https://contactlogicapp.azurewebsites.net/" target="_blank"> <button class="login-button float-right"> Contact Pact.Cloud Team <i class="fa fa-arrow-right" aria-hidden="true"></i></button> </a></div>
            </div>
        </div>
    </div>
</section>






<script>

    localStorage.setItem("User", '@ViewBag.User');
     localStorage.setItem("Date", '@ViewBag.Date');

    function toggleIcon(e) {
        if (localStorage.getItem("User") != null) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa fa-plus-circle fa fa-minus-circle');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    }
   

</script>









