@model IEnumerable<CloudDocuments>
@{
    ViewData["Title"] = "Innovation";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="col-md-12 breadcrumb-txt" style="background:#F9F9F9;padding: 10px;border-bottom: 1px solid #EEEEEE;	"><a href="../Home/Index">Home</a> / <span class="active">Cloud as an innovation platform</span></div>

<section>
    <div class="container">
        <div class="row accordion-box justify-content-center">

            <div class="col-lg-4 col-sm-8" id="first"><img src="~/images/cloud-innovation-img.png" class="img-fluid"> </div>

            <div class="col-lg-8" id="second">
                <h2 class="welcome-txt">Cloud as an Innovation Platform</h2>
                <p>With the advancements in network and visualization technologies, cloud-based services have become the most soughed platform for developing and using AI-native applications. It helps develop the most promising ideas into real products or services using a proven innovation management methodology that enables transparency of cost and utilization, accelerates execution and lowers the risk of your innovation projects over the cloud platform. This has paved the way for the businesses to make a transition to move most of their cutting-edge development work in the spear of ML/AI/DL to cloud directly. </p>
                <p>The Pact.Cloud team helps our clients with infrastructure development and provides them with consulting and optimization techniques to leverage the cloud as the frontier for their innovation workloads. </p>



                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    ML,AI & Deep learning Over Cloud
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12"><p>Enablement of infrastructure, development and deployment of Deep-Learning models over cloud</p> </div>
                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Pact AI Service and Solutions.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>






                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    RPA Over Cloud
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12"><p>Handle multi-dimensional data and Solve classification and regression problems. </p> </div>
                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    IOT ,IIOT & Edge solutions
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12"><p>RPA for automation of low intervention tasks</p> </div>
                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Intelligent Operations-IOT.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Datapipelines Management Over Cloud
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12"><p>Industrial IoT solutions for Predictive Maintenance & Smart Manufacturing. Integration with popular cloud platforms – Azure, Alibaba cloud & Others.</p> </div>
                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Bass Over Cloud
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12"><p>Dive into analytics with data warehousing, Batch processing , Stream processing , Analytical data store. </p> </div>
                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>










                </div><!-- panel-group -->

                <div class="col-lg-12 no-padding"> <a href="https://contactlogicapp.azurewebsites.net/" target="_blank"> <button class="login-button float-right"> Contact Pact.Cloud Team <i class="fa fa-arrow-right" aria-hidden="true"></i></button></a> </div>

            </div>




        </div>
    </div>
</section>

<script>

    function toggleIcon(e) {
        if (localStorage.getItem("User") != null) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa fa-plus-circle fa fa-minus-circle');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    }
</script>
<script src="~/js/abc.js"></script>

