@model IEnumerable<CloudDocuments>
@{
    ViewData["Title"] = "ManageServices";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="col-md-12 breadcrumb-txt" style="background:#F9F9F9;padding: 10px;border-bottom: 1px solid #EEEEEE;	"><a href="../Home/Index">Home</a> / <span class="active">Managed Services</span></div>

<section>
    <div class="container">
        <div class="row accordion-box justify-content-center">

            <div class="col-lg-4 col-sm-8" id="first"><img src="~/images/services-img.png" class="img-fluid"> </div>

            <div class="col-lg-8" id="second">
                <h2 class="welcome-txt">Managed Services</h2>
                <p>For an organization, it is crucial to identify the right cloud platform for deploying various workloads and applications. This approach helps businesses to achieve better compliance, optimum performance of applications, increased efficiency, and enables them to deliver quality services.  </p>
                <p>
                    <ul class=" accordian-text">
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Simpler interfaces</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Reduce complexity</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Automate</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Powerful alerting engine</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Minimize project risk</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Integrated security and governance</li>
                    </ul>
                </p>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Inident Reporting & Management over cloud
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Cloud Governance
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Security & Threat hunting
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Cloud Security as an service offerings.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Cloud Resource Optimisation
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                    Cloud Usage Analytics & Billing Forecasting
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <object class="embed-responsive-item" data="~/PDF/Work in progress.pdf#toolbar=0&navpanes=0&" type="application/pdf" internalinstanceid="9" title=""> </object>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>










                </div><!-- panel-group -->
                @*@foreach (var item in Model.ToList().Where(x => x.DocumentCatogery == "Managed Services").ToList())
        {
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less fa fa-plus-circle float-right" aria-hidden="true"></i>
                                @item.title
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12"> </div>
                                <div class="col-lg-12">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <object data="data:application/pdf;base64,@System.Convert.ToBase64String((Byte[])item.Data)+#toolbar=0&navpanes=0&statusbar=0&view=Fit;readonly=true; disableprint=true;" type="application/pdf">
                                            <embed src="data:application/pdf;base64, @System.Convert.ToBase64String((Byte[])item.Data)" type="application/pdf" />
                                        </object>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        }*@
                <!-- panel-group -->

                <div class="col-lg-12 no-padding"><a href="https://contactlogicapp.azurewebsites.net/" target="_blank"> <button class="login-button float-right"> Contact Pact.Cloud Team <i class="fa fa-arrow-right" aria-hidden="true"></i></button> </a> </div>

            </div>




        </div>
    </div>
</section>
<script>

    function toggleIcon(e) {
        if (localStorage.getItem("User") != null) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa fa-plus-circle fa fa-minus-circle');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    }
</script>
<script src="~/js/abc.js"></script>


